.app-footer {
    background: #F2F2F2;
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
}

.app-footer__message {
    color: #535353;
    font-family: sans-serif;
    font-size: 12px;
}