@import url("fonts.css");

.app-menu_list {
    display: flex;
    padding: 0 0 0 25px;
    margin-top: 0;
}

.app-menu_item {
    list-style: none;
    padding-right: 10px;
}

.app-menu_link {
    color: #535353;
    border: 1px black;
    font-family: montserrat md;
    margin-right: 1rem;
    text-decoration: none;
}

.app-menu_link:hover {
    color: #2e2e2e;
}

@media (max-width: 375px) {
    .app-menu_link{
        margin-right: 0.3rem;
    }
    .app-menu_list {
        padding: 0 0 0 15px;
    }
}