@import url("fonts.css");

.app-menu_list {
    display: flex;
    padding: 0;
    margin-top: 0;
}

.app-menu_item {
    list-style: none;
    padding: 0 8px;
}

.app-menu_link {
    color: #535353;
    border: 1px black;
    font-family: montserrat md;
    text-decoration: none;
}

.app-menu_link:hover {
    color: #2e2e2e;
}