.welcome {
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.center {
    font-family: Calibri;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.hidden {
    display: none;
}

.eng {
    max-height: 150px;
    padding-top: 65px;
    padding-bottom: 65px;
}

body {
    background-color:#eeeee4;
}

#back-btn {
    padding: 5px;
    background-color: LightSeaGreen;
    color: #fff;
}
#back-btn:hover {
    background-color: Teal;
}

a {
    text-decoration: none;
}

